body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4fccc;
}

header {
    background-color: #006400; /* Dark Green */
    color: gold;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: gold;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1 {
    color: gold;
}

h2 {
    color: #006400; /* Dark Green */
}

footer {
    background-color: #006400; /* Dark Green */
    color: gold;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, textarea:focus {
    border-color: #006400; /* Dark Green */
    outline: none;
}

button {
    background-color: gold;
    color: #006400; /* Dark Green */
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffd700; /* Light Gold */
}

.attraction {
    margin-bottom: 20px;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
